name: Check lint

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  check-lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: oven-sh/setup-bun@v1
        with:
          bun-version: latest
      - run: bun install
      - run: bun lint
      - run: bun doctor
